/* remove default styling/Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color variables for referencing */
:root {
    --text: #e3fcea;
    --background: #010a04;
    --primary: #76f1a5;
    --secondary: #113a9f;
    --accent: #5f38ea;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--background );
}

/* Header/Nav Element Styling */
header {
    padding: 20px;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--primary);
    border-bottom: solid 5px var(--secondary);
}

header h1 {
    font-size: 40px;
    border: solid var(--accent);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 5px 5px var(--accent);
}

header nav {
    margin: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text);
    padding: 8px;
    font-size: 28 px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

header nav ul li a:hover {
    background: var(--accent);
    color: var(--primary);
    border-radius: 8px;
}

/* Hero Styling */
.hero {
    background-image: url("../images/Philly-skyline.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero img {
    height: 400px;
    border-radius: 20px;
    margin: 20px 20px;
    border: solid var(--accent);
    box-shadow: 10px 5px 5px var(--accent);
}

article#about {
    border-top: solid 5px var(--secondary);
}

article section p {
    color: var(--text);
}

h2 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-header {
    border-right: 5px solid var(--secondary);
    min-height: 100%;
    text-align: right;
    padding-right: 30px;
    min-width: 20%;
    max-width: 20%;
}

.about-me {
    display: flex;
    padding-top: 20px;
}

article#about p {
    line-height: 1.6;
    font-size: 20px;
    width: 85%;
    padding: 0 30px;
}

.my-work {
    display: flex;
    padding-top: 20px;
}


.project-grid {
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 410px 210px 210px;
    grid-template-areas:
        "horiseon-seo horiseon-seo" 
        "payroll-tracker personal-blog" 
        "task-board weather-dashboard";
}

.project-grid a {
    text-decoration: none;
}
.horiseon-seo {
    grid-area: horiseon-seo;
}
.payroll-tracker {
    grid-area: payroll-tracker;
}
.personal-blog {
    grid-area: personal-blog;
}
.task-board {
    grid-area: task-board;
}
.weather-dashboard {
    grid-area: weather-dashboard;
}

.project-grid img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    filter: greyscale(30%);
    opacity: 70%;
}

.project-grid img:hover {
opacity: 100%;
  filter: greyscale(0%);
}
article figure {
    width: 100%;
    position: relative;
    border: 5px solid var(--secondary);
}

figcaption {
    background-color: var(--accent);;
    color: var(--text);
    padding: 10px;
    bottom: 0px;
    position: absolute;
}

/* Contact section styling */
footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.contacts {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: bold;
    justify-content: space-evenly;
    align-content: center;
    color: var(--text);
}

footer ul li a{
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    color: var(--text);
}

footer ul li a:hover {
    background: var(--accent);
    color: var(--primary);
    border-radius: 15px;
}

/* Styling for Tablet */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }
    article#about p {
        font-size: 16px;
    }
} 

/*Styling for Mobile */
@media screen and (max-width: 575px) {
    header {
        justify-content: center;
    }

    nav ul {
        min-height: 80px;
    }

    .hero {
        flex-direction: column;
    }

    .about-me {
        flex-direction: column;
    }

    .section-header {
        border-bottom: 5px solid var(--secondary);
        border-right: none;
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        padding: 15px;
    }

    article#about p {
        font-size: 16px;
        width: 100%;
        padding: 15px;
    }

    .my-work {
       flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .contacts {
        width: 100%;
        flex-direction: column;
    }

    footer ul {
        font-size: 24px;
        text-align: center;
        padding: 10px;
    }